<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" href="CV.css">

</head>

<header>

    <H4>Rechercher Français English Connexion Deconnexion</H4>

    <link rel="stylesheet" href="">

</header>
<center>
    <h1> Nom/Prenom</h1>



</center>

<nav>

    <a href="https://fr.linkedin.com/">
        <img src="d11466.png" alt="Logo Linkedin" width="200" height="100"> </a>


</nav>

<section>
    <center>
        <h1> Projet </h1>

    </center>

    <article>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam quasi veniam ut fugiat sequi rem
            repudiandae rerum doloribus. Deleniti omnis non laborum alias eveniet consequatur sequi dolorum perspiciatis
            aliquam harum!</p>

    
            <h1> Formation Expérience Compétences </h1>

            
    </article>

    /section>

    <footer>

        <h1>Coordonnées</h1>
        <h1>Téléphone</h1>
        <h1>Adresse</h1>
         
        <a href="mailto:email@example.com">E-Mail </a>

        





    </footer>


</section>





































<body>


</body>

</html>